.page-template-archive-artist_post_type, .post-type-archive-artist_post_type{

    .page-header{
        display:none;
    }


    #site-navigation{
        background-color:rgba(233, 217, 155,0.3) !important;
        box-shadow:none;
        border-bottom: 2px solid #f5ea9b;
    }

    .main-artists-list, .secondary-artists-list{
        padding:0;
        margin:0;
            @include desktop{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding-top:20rem;
            }
    }

    .archive-header-container{
        position: absolute;
        z-index: 100;
         h2{
             width:25rem;
         }
    }

    .main-artists-wrapper{
        background: linear-gradient( to bottom, rgba(116, 62, 112, 0.7) 0%, rgba(0,0,0,1) 100% ),
        url("../../images/main-artists-background.jpg") no-repeat center -278px;
        background-size:cover,cover;
        filter: grayscale(40%);
    }

    .secondary-artists-wrapper{
        background: linear-gradient( to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,1) 100% ),
        url("../../images/ben-nicky-background.jpg") no-repeat center -278px;
        background-size:cover,cover;
        border-top:4rem solid #1e264e;
    }

    .artist-list-item{
        justify-content: center;
        align-items: center;
        display:flex;
        z-index:2;
        padding-bottom:3rem;
         @include desktop{
            max-width: 320px;
            padding-left: 1.5%
         }
            img{
                box-shadow: 0px 0px 5rem rgb(130, 128, 128);
            }
    }

    .artist-section-header{
        width:100vw;
        display:flex;
        justify-content:center;
            @include desktop{
                display:none;
            }
    }

    .main-artists-wrapper{
        // margin:0 1rem;
    }
    
    .black-background{
        background:url('../../images/cube-background.jpg')center top;
        background-size:cover;
         @include desktop{
            background:none;
            height:320px;
            width: 27%;
            margin-bottom: 2rem;
         }
        
    }

    .artist-list-item{
        padding: 1rem 0;
        img{
            filter: grayscale(0%) contrast(100%);
            border:9px solid #fff;
                @include desktop{
                    width:320px;
                    height:320px;
                }
        }
        h3{
            position: absolute;
            text-align: center;
            width: 100%;
            text-transform: uppercase;
            text-shadow: 5px 12px 25px #000;
            font-size: 2rem;
            color: #f5ea9b;
            max-width: 20rem;
            font-family: montserratbold;
            z-index: 10;
            bottom: 6rem;
        }
    }

    .main-navigation{
        background-color: rgb(245, 234, 155);
    }

    //Coin Flip Animation

    .flip-container{
        position:relative;
        -webkit-perspective:1000;
        perspective:500px;
    }

    .flip-cards{
        width: 321px;
        height: 320px;
        position:relative;
        -webkit-transition: all 0.4s linear;
        transition: all 0.4s linear;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        border-radius: 50%;
          @include desktop{
                width:320px;
                height:320px;
            }
    }


    .flip-cards:hover{
        transform: rotateY( 180deg );
        -webkit-transform: rotateY(180deg);
    }

    .flip-cards{ 
        div{
            width: 321px;
            height: 320px;
            position:absolute;
            border-radius:50%;  
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
                @include desktop{
                    width:320px;
                    height:320px
                }
        }
    }

    .fa{
        transform: translate(9rem,-8rem);
    }


    .front-flip{
        z-index: 10;
         @include desktop{
            display: flex;
            justify-content: center;
         }
    }

    .back-flip{
        -webkit-transform: rotateY(180deg);
        transform: rotateY( 180deg );
    }

    .artist-list-item:after {
        @include desktop{
            content: "";
            display: table;
            clear: both;
        }
    }

}//post-type-wrapper