.page-template-archive-gallery_post_type, .post-type-archive-gallery_post_type{

    ul{
        padding:0;
        margin:0;
    }

    .section-header{
        padding:0;  
        margin-bottom: 7px;
            h3{
                margin:0;
            }
            @include desktop{
                margin-bottom:0;
            }
    }

    #site-navigation{
        background-color:rgba(233, 217, 155,0.3) !important;
        box-shadow:none;
        border-bottom: 2px solid #f5ea9b;
    }
    
    .page-title{
        display:none;
    }

    .small-gallery-section{
        @include desktop{
            background:linear-gradient( to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100% ),
            url("../../images/dash-berlin-background.jpg")no-repeat center -209px;
            background-size:cover,cover;
            filter: grayscale(70%);
            padding-bottom:4rem;

        }
    }

    #main{
        @include desktop{
            background-color:#000;
        }
    }


    .wp-post-image{
        width:100%;
        height:100%;
            @include desktop{
                max-height: 400px;
            }
    }

    .gallery-list-container{
        @include desktop{
            display:none;
        }
    }

    .archive-gallery-list{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        background:url('../../images/smoke-background.jpg')no-repeat center;
        background-size:cover;
            @include desktop{
                display:block;
                background:none;
            }
    }

    .gallery-image-container{
        width: 47vw;
        max-height: 2509px;
        min-height: 38vw;
        border: 2px solid #fff;
        max-width: 400px;
        transition:all 0.3s linear;
        cursor:pointer;
        box-shadow: 0px 0px 1px 2px #000;
        margin-bottom:1rem;
         @include desktop{
             min-width:100vw;
             height:100%;
             box-shadow:none;
             border-top:none;
             border-bottom:none;
         }
    }

    .flickity-viewport{
        @include desktop{
            height:400px !important;
        }
    }


    .image-grow{
        transform: scale(1.3);
        z-index: 10;
        margin: 0 auto;
        width: 75%;
    }

    //Flickity

    .flickity-prev-next-button.previous{
        left: 0;
        border-radius:0;
        height:100%;
    }

    .flickity-prev-next-button.next{
        border-radius:0;
        right:0;
        height:100%;
    }

    .next, .previous{
    }

    /* position dots up a bit */
    .flickity-page-dots {
        bottom: -22px;
    }
    /* dots are lines */
    .flickity-page-dots .dot {
        height: 4px;
        width: 40px;
        margin: 0;
        border-radius: 0;
    }

    .flickity-prev-next-button{
        @include desktop{
            background:#fff;
            width:70px;
        }
    }

    .flickity-page-dots.dot{
        background:#fff;
    }

    //Photo Gallery

   

    .small-gallery-container{
        display:none;
            @include desktop{
                display:block;  
            }
    }

    .small-gallery-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 13rem;
    }

    .small-gallery-item{
        width: 23%;
        height: 200px;
        margin: 1%;
        border: 3px solid #fff;
        list-style:none;
            img{
                object-fit:cover;
                cursor:pointer;
                    &:active{
                        object-fit:none;
                    }
            }
            &:hover{
                border:3px solid $main__yellow;
            }   
    }

    .popup-container{
        width: 100%;
        justify-content: center;
        display:none;

    }


    .gallery-popup-container{
        position:fixed;
        width:100%;
        height:100vh;   
        background:linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,0.3) 50%, rgba(209,209,209,0.3) 51%, rgba(254,254,254,0.5) 100%);
        top:0;
        z-index:10;
    }

    .x-button{
        background:url('../../images/x-button.svg')no-repeat center;
        background-size:contain;
        width: 2rem;
        height: 2rem;
        position: fixed;
        left: 3rem;
        z-index: 11;
        top: 5rem;
        cursor:pointer;
    }

    .next-arrow{
        position: fixed;
        z-index: 20;
        top: 12rem;
        left: 71rem;
        cursor:pointer;
    }

    //Social Media

    .sidebar{
        background-color:#000;
        @include desktop{
            background:linear-gradient( to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100% ),
            url('../../images/codeblack-background.jpg')no-repeat center;
            background-size:cover, cover;
        }
    }

    .fa-instagram{
        font-size:4rem;
    }

    .sb_instagram_header{
        padding-top: 10rem !important;
    }

    .social-header-container{
        display:flex;
        align-items:center;
        border-bottom: 2px solid $main__yellow;
        padding-bottom:1rem;
        width:13rem;
        justify-content:space-between;
            @include desktop{
                margin-left: 3rem;
                width:25rem;
            }
            i, h2{
                font-size:2.5rem;
                color:#fff;
                    @include desktop{
                        font-size:4rem;
                    }
            }
            h2{
                font-family:"montserratmedium";
                margin-bottom:0;
            }
    }

    .sbi_photo{
        border: 10px solid #fff;
    }

    #page{
        background-color:#000;
    }

   





}//Archive Gallery Wrapper