/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: 'steiner';
    src: url('../../fonts/steinerlight-webfont.eot');
    src: url('../../fonts/steinerlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/steinerlight-webfont.woff') format('woff'),
         url('../../fonts/steinerlight-webfont.ttf') format('truetype'),
         url('../../fonts/steinerlight-webfont.svg#steinerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
