// HEADER

.home{
    .main-navigation{
        width:100%;
        height:70px;
        background-color:#F5EA9B;
        position:fixed;
        top:0;
    }

	.hero-container{
		height:600px;
		width:100vw;
		display:flex;
		justify-content:center;
		position:relative;
	}

	@keyframes fade-in{
		0%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
	}

	.home-hero{
		margin-top:70px;
		object-fit:cover;
		z-index:-1;
    }

	.social-icons-container{
    	height:80px;
    	width:100%;
    	background-color:#F5EA9B;
    	display:flex;
    	justify-content:center;
    	align-items:center;
		box-shadow: 0 -12px 69px -3px white;
        	i{
            	color:black;
            	padding:1rem;
            	font-size:1.5rem;
            	height:50px;
            	width:50px;
        	}
	}

	.general-button{
		@include general-button;
	}

	.hero-button{
		align-self: flex-end;
		position:absolute;
		display: flex;
    	justify-content: center;
    	align-items: center;
		color:white;
		font-size:1.5rem;
		text-decoration:none;
		box-shadow:0px 5px #fff;
		border-radius:12px;
		text-transform:uppercase;
		background-color:#2e44ce;
		bottom:4rem;
		transition:all 0.2s ease;
		font-family:'raleway';
			&:active{
				transform:translate(0, 5px);
				box-shadow:none;
			}
			&:hover{
				background-color:white;
				color:#2e44ce;
				border-radius:12px;
				box-shadow:0px 5px 5px 10px #f4f4f2;
			}
		}

	.main-navigation{
		box-shadow: -20px 19px 69px 9px white;
		z-index:20;
	}
	

	//News Section

	.news-post-wrapper{
		display: flex;
    	flex-direction: column;
		justify-content: space-between;
		padding:30px 15px 0 15px;
		background-color:black;
		padding-bottom:5rem;
	}

	.section-header{
		text-align:center;
		text-transform:uppercase;
		font-family:'raleway';
		padding:10px 0;
		font-size:2rem;
		margin:0;
		background-color:rgb(38, 47, 101);
		color:white;
	}

	.news-post-container{
		position:relative;
		padding-bottom: 1.6rem;
		margin-top:4rem;
		padding-top:1rem;
		border-top: 5px solid rgba(245, 234, 155, 0.31);
		border-radius:5px;
			img{
				width:120px;
			}
	}

	.news-title{
		position: absolute;
    	left: 70%;
    	font-size: 1.5rem;
    	bottom: 16rem;
			a{
				color:white;
				text-decoration:none;
				text-transform:uppercase;
				font-family:'raleway';
				border-radius:8px;
			}
	}
	.front-news-image-container{
    	max-height: 200px;
		position:relative;
			img{
				width:100%;
				height:100%;
				object-fit:cover;
			}
	}

	.news-gradient{
		position: absolute;
    	width: 100%;
    	height: 100%;
    	background-color: black;
    	opacity: 0.4;
	}

	.news-date{
		position: absolute;
		z-index: 10;
		margin-left: 15px;
		color: #fff;
		padding: .5rem 1.5rem;
		bottom: 12rem;
		left: 0%;
		text-transform: uppercase;
		width: 200px;
		bottom: 15px;
	}

	.news-excerpt-container{
		display:flex;
		justify-content:space-between;
			p{
				color:white;
				font-size:14px;
				font-family:'raleway';
				max-width:288px;
			}
	}

	.read-more-news{
		align-self:flex-end;
		text-decoration:none;
		background-color:white;
		width:200px;
		height:50px;
		text-transform:uppercase;
		color:black;
		border-radius:15px;
		overflow:hidden;
		position:relative;
		transition:all 500ms ease;
		display: flex;
    	justify-content: center;
    	align-items: center;
			span{
				z-index:10;
			}
			&:hover{
				color:white;
			}
	}

	.read-more-news:before {
		content:'';
		position: absolute;
		width: 0px;
		height: 100px;
		background-color: #262f65;
		color:white;
		border-radius: 15px;
		transition: all 0.5s ease;
	}

	.read-more-news:hover:before{
		width:100%;
		border-radius:15px;
	}

	.news-post-container:first-child{
		border-top: 9px solid rgba(245, 234, 155, 0.76);
    	padding-top: 2rem;
    	border-radius: 5%;
	}

	.news-post-container:last-child{
		border-bottom: 9px solid rgba(245, 234, 155, 0.76);
    	margin-top: 2rem;
    	border-radius: 5%;
	}

	.fadein{
		opacity:0;
	}

	//Folding Cube

	.folding-cube-container{
		position: fixed;
    	width: 100vw;
    	height: 100vh;
    	background-color: black;
		z-index:100;
		display:flex;
		align-items:center;
	}

	.sk-folding-cube {
		margin: 20px auto;
		width: 95px;
		height: 95px;
		position: relative;
		-webkit-transform: rotateZ(45deg);
		transform: rotate(45deg) translate(-80%,-65%);
	}

	.sk-folding-cube .sk-cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1); 
	}
	.sk-folding-cube .sk-cube:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
		animation: sk-foldCubeAngle 2.4s infinite linear both;
		-webkit-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	
	.sk-folding-cube .sk-cube2 {
		-webkit-transform: scale(1.1) rotateZ(90deg);
		transform: scale(1.1) rotateZ(90deg);
	}
	
	.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
			transform: scale(1.1) rotateZ(180deg);
	}
	
	.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
			transform: scale(1.1) rotateZ(270deg);
	}
	.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
	}
	.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s; 
	}
	.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
			animation-delay: 0.9s;
	}
	@-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
				transform: perspective(140px) rotateX(-180deg);
		opacity: 0; 
	} 25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
				transform: perspective(140px) rotateX(0deg);
		opacity: 1; 
	} 90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
				transform: perspective(140px) rotateY(180deg);
		opacity: 0; 
	} 
	}

	@keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
				transform: perspective(140px) rotateX(-180deg);
		opacity: 0; 
	} 25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
				transform: perspective(140px) rotateX(0deg);
		opacity: 1; 
	} 90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
				transform: perspective(140px) rotateY(180deg);
		opacity: 0; 
	}
	}

}//Home Wraper
